<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>patients</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>patient_id</th>
                <th>first_name</th>
                <th>last_name</th>
                <th>date_of_birth</th>

        </tr>

    </thead>
    <tbody>
        <% results.forEach(patient => {%>
            <tr>
                <td><%= patient.patient_id %></td>
                <td><%= patient.first_name %></td>
                <td><%= patient.last_name %></td>
                <td><%= patient.date_of_birth %></td>
            </tr>
        <% }); %>
    </tbody>
    </table>
</body>
</html>